@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans+KR:wght@100;200;300;400;500;600;700&display=swap');

body {
    font-family: Noto Sans KR, sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

span {text-wrap: wrap;}

input, textarea, select { outline-style: none; }

textarea { resize: none; }

thead th {
    font-weight: normal;
    font-size: 80%;
}

li { list-style: none; }

li a { 
    display: block;
    padding: 0.8em 1.5em;
}

li a:hover, li a:focus, li a:active { 
    display: block;
    text-decoration: none; 
}

a, a:visited {
    color: black;
    text-decoration: none;
}

h2 {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

tr:hover { background: #ececec; }

thead tr th {
    padding: 0.5em 0;
    border-bottom: 1px solid #cacaca;
    border-top: 1px solid #cacaca;
}

tbody tr td {
    font-size: 12px;
    text-wrap: nowrap;
    padding: 5px 0;
    border-bottom: 1px solid #ececec;
}

tbody tr td:nth-child(2), tbody tr td:nth-child(3) {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 0px;
}

#back-container {
    display: flex;
    justify-content: center;
}

#main-container {
    display: flex;
    margin: 20px 20px 0 20px;
    width: 900px;
    height: auto;
}

#left-nav-bar {
    color: white;
    min-width: 200px;
    max-width: 200px;
    height: auto;
}

#left-nav-column {
    display: flex;
    flex-direction: column;
}

#content-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin-left: 60px;
}

#service-container, #board-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

#post-list-btn, #write, #edit, #del {
    background: #ececec;
    border: 1px solid #cacaca;
    display: block;
    padding: 0.3em 1em;
    color: black;
    font-size: 13px;
    border-radius: 3px;
    margin-left: 5px;
}

#write { padding: 0.3em 1.5em; }

#keyword {
    font-size: 13px;
    border: 1px solid #cacaca;
    border-right: 0;
    padding: 0.3em 0.5em;
}

#search, #search-btn { border: 1px solid #cacaca; }

#search:focus, #search:active {
    border: 2px solid black;
    border-radius: 3px;
}

#search-btn, #search-btn:hover {
    background: url('../images/supports/search.png') no-repeat center;
    background-size: 30%;
    border-left: none;
    width: 50px;
    cursor: pointer;
    margin-right: auto;
}

#content-area {
    word-wrap: break-word;
    font-size: 14px;
    width: 100%;
    max-width: 640px;
    min-height: 250px;
    height: auto;
    margin-bottom: 10px;
}

#comment-total {
    border-bottom: 1px solid #cacaca;
    padding-bottom: 6px;
    margin-bottom: 6px;
    font-size: 13px;
}

#comment-area {
    display: flex;
    flex-direction: column;
}

#comment-write-area {
    display: flex;
    align-items: center;
    background: #ececec;
    max-width: 100%;
    height: 120px;
    padding: 10px;
    font-size: 14px;
    border-radius: 3px;
}

#write-author {
    justify-content: center;
    align-items: center;
    min-width: 100px;
    width: 20%;
    height: 80%;
}

#write-submit {
    text-align: center;
    margin-left: auto;
    color: white;
    background: rgb(100, 80, 255);
    padding: 0.7em 2em;
    font-size: 12px;
    border-radius: 3px;
    border: 1px solid #cacaca;
}

#write-submit:hover { cursor: pointer; }

#write-area {
    font-family: Noto Sans KR, sans-serif;
    min-width: 100%;
    height: 60px;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 3px;
    border: 1px solid #cacaca;
    font-size: 12px;
}

#write-area::-webkit-scrollbar,
#text-area::-webkit-scrollbar { width: 13px; }

#write-area::-webkit-scrollbar-thumb,
#text-area::-webkit-scrollbar-thumb {
    background: #5c5c5c;
    border-radius: 10px;
    background-clip: padding-box;
    border: 4px solid white;
}

#write-area::-webkit-scrollbar-thumb:hover,
#text-area::-webkit-scrollbar-thumb:hover { background: #838383; }

#write-area::-webkit-scrollbar-track,
#text-area::-webkit-scrollbar-track { background: white }

#write-author-set {
    font-family: Noto Sans KR, sans-serif;
    font-size: 12px;
    width: 50px;
    border-radius: 3px;
    border: 1px solid #cacaca;
    padding: 0.5em 1em;
    margin: 0px 10px 0 0px;
    margin-bottom: auto;
}

#post-change-area {
    min-height: 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    border-radius: 3px;
    border: 1px solid #cacaca;
    font-size: 13px;
}

#post-prev, #post-next {
    display: flex;
    width: 100%;
    height: 50%;
}

#post-write-area {
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

#category-select, #write-text-area {
    display: flex;
    width: 100%;
    height: 50px;
    margin-top: 10px;
    border-top: 1px solid #cacaca;
    border-bottom: 1px solid #cacaca;
    font-size: 13px;
    font-weight: bold;
}

#write-text-area {
    min-height: 200px;
    max-height: 200px;
    margin: 0;
    border: none;
}

#select-area-1, #select-area-2 {
    display: flex;
    width: 50%;
    height: 100%;
}

#text-area {
    overflow: auto;
    min-height: 90%;
    min-width: 85%;
    padding: 5px;
    margin-left: 10px;
    border-radius: 3px;
    font-size: 12px;
    border: 1px solid #cacaca;
}

.write-category-text {
    display: flex;
    align-items: center;
    min-width: 40%;
    background: #e4e4e4;
}

.write-category {
    padding: 8px 50px 8px 5px;
    margin-left: 10px;
    border-radius: 3px;
    border: 1px solid #cacaca;
}

.left-nav {
    font-size: 13px;
    background: rgb(233, 233, 233);
    border: 1px solid #cacaca;
}

.left-nav:last-child {
    border-radius: 0 0 10px 10px;
}

.select a {
    background: white url('../images/supports/arrow-right.png') no-repeat center left 180px;
    background-size: 3%;
}

.select-last a {
    border-radius: 0 0 10px 10px;
    background: white url('../images/supports/arrow-right.png') no-repeat center left 180px;
    background-size: 3%;
}

.home-content {
    border: 1px solid rgba(0, 0, 0, 0.5);
    display: block;
    width: 200px;
    height: 200px;
    margin: 10px 10px 10px 0;
}

.block {
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 100%;
}

.service { font-weight: 700; }

.notice-category { padding: 2em; }

.text-align-center { text-align: center; }

.paging, .paging-prev, .paging-next {
    width: 25px;
    height: 25px;
    margin-right: 5px;
    font-size: 12px;
    text-align: center;
    line-height: 25px;
}

.paging-on {
    background: #fff;
    color: #144fe5;
    border: 1px solid #cacaca;
    width: 23px;
    height: 23px;
    line-height: 24px;
}

.category {
    display: block;
    background: transparent;
    border: none;
    font-size: 12px;
    padding: 3px 8px;
    margin-right: 10px;
    letter-spacing: 0.3px;
}

.category:hover {
    cursor: pointer;
}

.category-on {
    background: #a6a6a6;
    border-radius: 20px;
    color: white;
}

.post-detail {
    letter-spacing: 0.3px;
    border-right: 1px solid #cacaca;
    padding: 0 0.5em;
    margin-right: 0.5em;
}
.post-detail:last-child { border-right: none; } 

.comment {
    word-wrap: break-word;
    width: 100%;
    max-width: 640px;
    font-size: 12px;
    padding-bottom: 6px;
    margin-bottom: 6px;
    border-bottom: 1px solid #cacaca;
}

.comment-author, .comment-date {
    border-right: 1px solid #cacaca;
    padding-right: 5px;
    margin-right: 5px;
}

.write-btn-class {
    background: rgb(100, 80, 255);
    color: white;
    border-radius: 3px;
    padding: 0.6em 25px;
    border: 1px solid #cacaca;
    font-size: 13px;
    margin-right: 10%;
}
.write-btn-class:hover { cursor: pointer; }
.write-btn-class:last-child {
    margin: 0;
}

.btn-disable { 
    background: #cacaca;
    color: white;
    border-radius: 3px;
    padding: 0.6em 25px;
    border: 1px solid #cacaca;
    font-size: 13px;
    margin-right: 10%;
 }
.btn-disable:hover { cursor: default; }

#check-agree-container {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    margin-bottom: 20px;
    width: 100%;
    height: auto;
    font-size: 12px;
    border: 1px solid #cacaca;
}

#check-box-line {
    display: flex;
    align-items: center;
    width: 100%;
    height: 30px;
    border-bottom: 1px solid #cacaca;
    background: #e4e4e4;
}

#write-check-agree {
    position: relative;
    top: 2px;
}

#agree-label { padding: 0 10px; }
#agree-label:hover, #write-check-agree:hover { cursor: pointer; }

#agree-content {
    display: flex;
    flex-direction: column;
    padding: 5px 10px;
}
#agree-content strong { margin-top: 5px; }
#agree-content strong:last-child { margin-top: 3px; font-size: 11px; }

#wirter-name {
    margin-right: auto;
    margin-left: 2px;
    padding: 3px;
}

#post-title {
    word-wrap: break-word;
    width: 100%;
    max-width: 640px;
    padding-bottom: 0.2em;
}
