@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans+KR:wght@100;200;300;400;500;600;700&display=swap');

body {
    font-family: Noto Sans KR, sans-serif;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#reserv-time { width: 80%; }

#movie-reserv-box {
    margin: 50px;
    width: 780px;
    border: 1px solid #cacaca;
}

    #movie-reserv-topline {
        display: flex;
        background: white;
        width: 100%;
        height: 25%;
    }

        .movie-reserv-stepbox {
            display: flex;
            align-items: center;
            height: 100%;
            width: 25%;
            border-right: 1px solid #cacaca;
            margin-left: 10px;
        }

        .movie-reserv-stepbox:last-child { border-right: none; }

        .step-img {
            height: auto;
            width: 25%;
            margin-right: 3px;
        }

    #reserv-select-container {
        display: flex;
        color: white;
        width: 100%;
        min-height: 80px;
    }

        .reserv-select-box {
            display: flex;
            justify-content: center;
            align-items: center;
            background: white;
            border-right: 1px solid #cacaca;
            border-top: 1px solid #cacaca;
            min-height: 100%;
            max-height: 100%;
            min-width: 25%;
            max-width: 25%;
        }
        
        .reserv-select-box:last-child { border-right: none; }

        .reserv-text {
            font-size: 14px;
            margin: 5px;
        }

        #temp-01 {
            font-size: 14px;
            margin: 5px;
        }

        .select-theater {
            width: 70%;
            height: 10%;
            margin: 10px -0px 0px 10px;
            padding: .7em;
            border: 1px solid #cacaca;
            border-radius: 3px;
            background-color: rgba(70, 70, 70, 1.0);
            color: whitesmoke;
        }

#select-seat-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ececec;
    border-top: 1px solid #cacaca;
    width: 100%;
    height: 450px;
}

	#seat-count-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        background-color: rgba(150, 150, 150, 1.0);
        width: 180px;
        height: 180px;
        position: relative;
        left: -295px;
        top: -100px;
    }
    
    #screen-box {
        background-color: rgba(150, 150, 150, 1.0);
        color: whitesmoke;
        margin: 10% 0px 20px 0px;
        height: 10%;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #seat-line-container {
        background-color: gray;
        color: brown;
        height: 32%;
        width: 10%;
        position: absolute;
        left: 21%;
        top: 61%;
    }

    #select-seat-container {
        background-color: rgba(222, 222, 222, 1.0);
        height: 40%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

        .select-seat-column {
            color: whitesmoke;
            margin-top: 5px;
            height: 18px;
            width: 80%;
            display: flex;
            justify-content: center;
        }

		.select-seat-row {
            background-color: darkgray;
            margin: 2px 1px 0px 1px;
            min-height: 18px;
            max-height: 18px;
            min-width: 21px;
            max-width: 21px;
            text-align: center;
            line-height: 15px;
            font-size: 75%;
            overflow: hidden;
        }

		.select-seat-row:hover {
            background-color: rgb(14, 14, 110);
            margin: 2px 1px 0px 1px ;
            min-height: 18px;
            max-height: 18px;
            min-width: 21px;
            max-width: 21px;
            text-align: center;
            line-height: 15px;
            font-size: 80%;
            cursor: pointer;
            overflow: hidden;
        }
        
        .select-seat-row-selected {
            background-color: rgb(14, 14, 110);
            margin: 2px 1px 0px 1px;
            min-height: 18px;
            max-height: 18px;
            min-width: 21px;
            max-width: 21px;
            text-align: center;
            line-height: 15px;
            font-size: 75%;
            overflow: hidden;
        }

        .select-seat-row-selected:hover {
            background-color: rgb(14, 14, 110);
            margin: 2px 1px 0px 1px ;
            min-height: 18px;
            max-height: 18px;
            min-width: 21px;
            max-width: 21px;
            text-align: center;
            line-height: 15px;
            font-size: 80%;
            cursor: pointer;
            overflow: hidden;
        }

        .select-seat-row-sell {
            background-color: darkcyan;
            margin: 2px 1px 0px 1px ;
            min-height: 18px;
            max-height: 18px;
            min-width: 21px;
            max-width: 21px;
            text-align: center;
            line-height: 15px;
            font-size: 75%;
            cursor: pointer;
            overflow: hidden;
        }
        
        .booked{ background-color: rgb(0, 0, 0); }

#select-cinema {
    display: flex;
    flex-direction: column;
}

.location-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    height: 50%;
}
.location-container:last-child { border-top: 1px solid #cacaca; }

.select-reserv {
    min-width: 160px;
    border: 1px solid #cacaca;
    border-radius: 3px;
    color: black;
    font-size: 13px;
    padding: 3px 10px;
    outline: none;
}

input[type="date"] { outline: none; }

.select-reserv-max { font-size: 11px; }

.count-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#btn-set {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    margin-top: 10px;
}

.btn-class {
    border-radius: 3px;
    border: 0.5px solid black;
}
.btn-class:last-child { font-size: 13px; }