<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team3.spring.mapper.BoardMapper">
	<select id="list" resultType="com.team3.spring.vo.BoardVO">
		SELECT P_ID, P_TITLE, P_WRITER, DATE_FORMAT(P_CREATED, '%Y-%m-%d') as P_CREATED, P_HITCOUNT FROM BOARD
	</select>
	
	<insert id="write">
		INSERT INTO BOARD(P_WRITER, P_TITLE, P_TEXT) values (#{p_writer}, #{p_title}, #{p_text})
	</insert>
	
	<select id="read" resultType="com.team3.spring.vo.BoardVO">
		SELECT * FROM BOARD WHERE P_ID = #{p_id}
	</select>
	
	<delete id="del">
		DELETE FROM BOARD WHERE P_ID = #{p_id}
	</delete>
	
	<update id="modify">
		UPDATE BOARD SET P_TITLE = #{p_title}, P_TEXT = #{p_text} WHERE P_ID = #{p_id}
	</update>
	
	<select id="test" resultType="int">
		SELECT COUNT(*) FROM BOARD
	</select>
	
</mapper>